<div class="m-container">
  <h3>All beers</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <%= for beer <- @all_beers do %>
        <tr>
          <td><%= beer.name %></td>
          <td><%= beer.type %></td>
          <td id="beer-<%= beer.id %>">
            <%= if beer.active do %> 
              <span style="color: green">Active </span>
              <% else %> 
              <a href='javascript:makeActiveHandler(<%= beer.id %>)'>Make Active</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script>
    const $ = elt => document.querySelector(elt)

    const state = {
      activeIdVal: <%= @active_beer_id %>,
      get activeId() {
        return activeIdVal
      },
      set activeId(id) {
        const oldActiveId = '#beer-' + this.activeIdVal
        const newActiveId = '#beer-' + id
        
        $(oldActiveId).innerHTML = `
          <a href='javascript:makeActiveHandler(${this.activeIdVal})'>Make Active</a>
        `
        $(newActiveId).innerHTML = `
          <span style="color: green">Active </span>
        `

        this.activeIdVal = id
      }
    }
    const makeActiveHandler = async id => {
      const response = await fetch('/api/set_active', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          id
        })
      })

      const json = await response.json()

      console.log(json)

      if(json.success) state.activeId = id
    }
  </script>
</div>
